.user-type-choice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    background: rgba(24, 24, 27, 0.8);
    border: 2px solid transparent;
    backdrop-filter: blur(6px);
    border-radius: var(--radius-xl);
    transition: all 0.3s ease;
    padding: 1.5rem 1rem;
    cursor: pointer;
    flex: 1;
}

@media (min-width: 1024px) {
    .user-type-choice {
        padding: 2rem 1rem;
    }
}

.user-type-choice .check-mark {
    border: 2px solid var(--accent);
    color: var(--accent);
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.user-type-choice:hover,
.user-type-choice:has(input:checked) {
    border: 2px solid var(--accent);
    box-shadow: 0px 0px 20px rgba(139, 92, 246, 0.2);
}

.user-type-choice:has(input:checked) .check-mark {
    opacity: 1;
}

@media (max-width:558px) {
    .user-type-choice {
        gap: 0.75rem;
    }

    .user-type-choice .check-mark {
        display: none;
    }
}
