.card-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgba(24, 24, 27, 0.8);
  border: 2px solid rgba(39, 39, 42, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  transform: rotate(2deg);
  z-index: 1;
}

.card-container::before {
  content: '';
  position: absolute;
  bottom: 27px;
  right: -44px;
  width: 256px;
  height: 256px;
  background: hsla(258, 100%, 87%, 0.1);
  z-index: -2;
  border-radius: 9999;
  filter: blur(100);
}

.footer-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  border: 2px solid #18181B;
  margin-inline-start: -9px;
}